
.main-cart-content{
    background-color: #f2f2f2;
    height: 91vh
}
.cart-container{
    display:flex;
    flex-direction: row;
    padding:2rem 10rem;
   
    
}

.cart-details{
    width:70%;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cart-details-header{
    font-size: 2.5rem;
    padding:1rem;
    margin:0 1rem;
    border-bottom:0.5px solid #808080;
    font-family: 'roboto', sans-serif;
    
}
.cart-no-items{
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem 1rem;
}
.product-content-container{
    padding:1rem;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin:0 1rem;
    border-bottom: 1px solid #f2f2f2;
}
.cart-product-image img{
    height: 100px;
    width: 80px;
    object-fit: fill;
    
}

.cart-product-content{
    padding:1rem;
    background-color: white;
    justify-content: space-between;
    width: 100%;
}

.product-content-title{
    display: flex;
    flex-direction: row;
}
.cart-flex{
    display:flex;
    margin-bottom: 0.5rem;
    margin-left:1rem;
}
.product-content-title.cart-flex{
    display:flex;
    align-items: flex-start;
    justify-content:space-between;
    margin-bottom: 0.5rem;
    margin-left:1rem;
}
.cart-product-title{
    margin-bottom:0.2rem;
    font-size:20px;
    font-weight:400;
    line-height:1;
    color:#282c3f;
    padding:0 1.2rem 0 0;
}
.cart-product-price{
    font-size: 2rem;
    font-weight: 500;
}

.cart-product-category{
    color:#535665;
    font-size:15px;
    opacity:0.8;
    font-weight:400;
    padding:0 0.5rem;
    border-right : 1px solid black
}

.cart-product-stock{
    color:#535665;
    font-size:15px;
    opacity:0.8;
    font-weight:500;
    padding:0 0.5rem;
    color: #32CD32	
}

.cart-primary-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0.5em ;
    font-size:1.5rem;
    font-weight: 500;
    gap:0.5rem;
    color:#808080;
    margin-bottom:0.8rem;
    cursor:pointer;
    background-color: white;
}

.cart-checkout{
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left:1rem;
    width: 30%;
    min-height: 47px;
    max-height: 25rem;
}

.cart-checkout-header{
    display: block;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    font-weight: 500;
    font-size: 1.75rem;
    color:#878787;
    min-height: 47px;
    border-radius:2px 2px 0 0;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-checkout-detail{
    padding: 0 1.75rem;
}
.cart-price{
    display: flex;
    justify-content: space-between;
    margin:1.5rem 0 ;
    align-items: flex-start;
    font-size:1.65rem}

.cart-price.total{
    border-top: 1px solid #f2f2f2;
    border-bottom:1px solid #f2f2f2;
    padding:1.5rem 0;
    font-weight: 600;
}

@media (max-width:1024px){
    .cart-container{
        padding: 2rem;
        width: 100vw;
    }
    .cart-product-title{
        font-size: 1.5rem;
    }
    .cart-product-price{
        font-size: 1.5rem;
    }
    .cart-checkout-header{
        font-size: 1.5rem;
    }
    .cart-price-info{
        font-size: 1.5rem;
    }
    .cart-price-val{
        font-size: 1.5rem;
    }
}

@media (max-width:426px){
    .cart-container{
        flex-direction: column;
    }
    .cart-product-image img{
        height: 80px;
        width: 50px;
        object-fit: contain;
    }
    
    .cart-details{
        width: 100%;
    }
    .cart-checkout{
        width: 100%;
        margin:1rem 0 0 0 ;
        
    }
}
.empty-container{
    position:absolute;
    top:40%;
    left:38%;
    font-size:4rem;
}