

.wrapper{
    background-color:#a8e1c0;
}
.product-details-container{
    /* border:1px solid red; */
    display: flex;
    justify-content:space-between;
    width:95%;
    margin:0 auto;
    height:100vh;
    padding:4rem;
    background-color:#ffffff;
}


.product-image{
  width:30%;  
  height:70%;
  border:0.1px solid rgb(128,128,128,0.4);
  padding:1rem;
}

.product-details{
  /* border:1px solid red; */
  padding:2rem;
  width:68%;
}

.product-category{
    margin-bottom:0.5rem;
}

.product-rating{
    background-color:#388e3c;
    display:flex;
    gap:0.3rem;
    align-items:center;
    padding:0.3em 0.6em;
    border-radius:0.4rem;
    color:#ffffff;
    font-weight:700;
    font-size:1.2rem;
    margin-bottom:1.5rem;
}

.rating-details p{
    color:gray;
    font-size:1.5rem;
}

.rating-details{
    display:flex;
    gap:1rem;
    align-items:center;
    /* border:1px solid red; */
}

.product-description{
    font-size:1.5rem;
    font-weight:300;
    margin-bottom:1rem;
}

.product-price{
  font-size:2.8rem;
  margin-bottom:2rem;
}

.delivery{
    display:flex;
    gap:2rem;
}

.delivery span{
    font-weight:500;
    color: gray;
    font-size:1.5rem;
}
.pin-input{
    border-bottom:2px solid #2874f0;
    padding:0.5rem;
}